<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Quiz App</title>
</head>
<body>
    <div class="container">
    <div class="Answer">
        <h1>Answers</h1>
        <div class="choice">
        <ol>
            <li></li>
            <!-- <li>A &#10004;</li>
            <li>B &#10006;</li> -->
        </ol>
    </div>
        <div class="score">1</div>
        <div class="check">Check</div>
    </div>
    <div class="options">
        <div class="btn correct">&#10004;</div>
        <div class="btn incorrect">&#10006;</div>
        <button class="button button1 opt">A</button>
        <button class="button button1 opt">B</button>
        <button class="button button1 opt">C</button>
        <button class="button button1 opt">D</button>
    </div>
    <div class="do-next">
        <div class="action-btn dont">Don't Know</div>
        <div class="action-btn next">Next</div>
    </div>
</div>
</body>
<script src="./index.js"></script>
</html>